In [ ]:
%matplotlib widget

In [2]:
# Dependencies

import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.dates as mdates
from datetime import datetime

In [3]:
# Read in csv files for each year of data

folder = 'Resources'

df_20 = pd.read_csv(os.path.join(folder,'2020.csv'))
df_19 = pd.read_csv(os.path.join(folder,'2019.csv'))
df_18 = pd.read_csv(os.path.join(folder,'2018.csv'))
df_17 = pd.read_csv(os.path.join(folder,'2017.csv'))
df_16 = pd.read_csv(os.path.join(folder,'2016.csv'))
df_15 = pd.read_csv(os.path.join(folder,'2015.csv'))

In [4]:
# Merge and select relevent columns from csv

happy_df = df_20[['Country name', 'Regional indicator', 'Ladder score', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy','Freedom to make life choices', 'Generosity', 'Perceptions of corruption']]
happy_df = happy_df.rename(columns={'Ladder score':'Score Y20','Logged GDP per capita':'GDP Y20','Social support':'Social support Y20', 'Healthy life expectancy':'Life expectancy Y20', 'Freedom to make life choices':'Freedom Y20', 'Generosity':'Generosity Y20', 'Perceptions of corruption':'Corruption Y20'})

happy_df = happy_df.merge(df_19[['Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']], how='left', left_on='Country name', right_on='Country or region')
happy_df = happy_df.drop(columns='Country or region')
happy_df = happy_df.rename(columns={'Score':'Score Y19', 'GDP per capita':'GDP Y19', 'Social support':'Social support Y19', 'Healthy life expectancy':'Life expectancy Y19', 'Freedom to make life choices':'Freedom Y19', 'Generosity':'Generosity Y19', 'Perceptions of corruption':'Corruption Y19'})

happy_df = happy_df.merge(df_18[['Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy' ,'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']], how='left', left_on='Country name', right_on='Country or region')
happy_df = happy_df.drop(columns='Country or region')
happy_df = happy_df.rename(columns={'Score':'Score Y18', 'GDP per capita':'GDP Y18', 'Social support':'Social support Y18', 'Healthy life expectancy':'Life expectancy Y18', 'Freedom to make life choices':'Freedom Y18', 'Generosity':'Generosity Y18', 'Perceptions of corruption':'Corruption Y18'})

happy_df = happy_df.merge(df_17[['Country', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Freedom','Generosity', 'Trust..Government.Corruption.']], how='left', left_on='Country name', right_on='Country')
happy_df = happy_df.drop(columns='Country')
happy_df = happy_df.rename(columns={'Happiness.Score':'Score Y17', 'Economy..GDP.per.Capita.':'GDP Y17', 'Health..Life.Expectancy.':'Life Expectancy Y17', 'Freedom':'Freedom Y17', 'Generosity':'Generosity Y17', 'Trust..Government.Corruption.':'Corruption Y17'})

happy_df = happy_df.merge(df_16[['Country', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']], how='left', left_on='Country name', right_on='Country')
happy_df = happy_df.drop(columns='Country')
happy_df = happy_df.rename(columns={'Happiness Score':'Score Y16', 'Economy (GDP per Capita)':'GDP Y16', 'Health (Life Expectancy)':'Life Expectancy Y16', 'Freedom':'Freedom Y16', 'Trust (Government Corruption)':'Corruption Y16', 'Generosity':'Generosity Y16'})

happy_df = happy_df.merge(df_16[['Country', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']], how='left', left_on='Country name', right_on='Country')
happy_df = happy_df.drop(columns='Country')
happy_df = happy_df.rename(columns={'Happiness Score':'Score Y15', 'Economy (GDP per Capita)':'GDP Y15', 'Health (Life Expectancy)':'Life Expectancy Y15', 'Freedom':'Freedom Y15', 'Trust (Government Corruption)':'Corruption Y15', 'Generosity':'Generosity Y15'})

happy_df

,Country name,Regional indicator,Score Y20,GDP Y20,Social support Y20,Life expectancy Y20,Freedom Y20,Generosity Y20,Corruption Y20,Score Y19,...,Life Expectancy Y16,Freedom Y16,Corruption Y16,Generosity Y16,Score Y15,GDP Y15,Life Expectancy Y15,Freedom Y15,Corruption Y15,Generosity Y15
0,Finland,Western Europe,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,7.769,...,0.81091,0.57104,0.41004,0.25492,7.413,1.40598,0.81091,0.57104,0.41004,0.25492
1,Denmark,Western Europe,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,7.600,...,0.79504,0.57941,0.44453,0.36171,7.526,1.44178,0.79504,0.57941,0.44453,0.36171
2,Switzerland,Western Europe,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,7.480,...,0.86303,0.58557,0.41203,0.28083,7.509,1.52733,0.86303,0.58557,0.41203,0.28083
3,Iceland,Western Europe,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,7.494,...,0.86733,0.56624,0.14975,0.47678,7.501,1.42666,0.86733,0.56624,0.14975,0.47678
4,Norway,Western Europe,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,7.554,...,0.79579,0.59609,0.35776,0.37895,7.498,1.57744,0.79579,0.59609,0.35776,0.37895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,3.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Rwanda,Sub-Saharan Africa,3.3123,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,3.334,...,0.31865,0.54320,0.50521,0.23552,3.515,0.32846,0.31865,0.54320,0.50521,0.23552
150,Zimbabwe,Sub-Saharan Africa,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,3.663,...,0.15950,0.25429,0.08582,0.18503,4.193,0.35041,0.15950,0.25429,0.08582,0.18503
151,South Sudan,Sub-Saharan Africa,2.8166,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,2.853,...,0.15781,0.19662,0.13015,0.25899,3.832,0.39394,0.15781,0.19662,0.13015,0.25899
152,Afghanistan,South Asia,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,3.203,...,0.17344,0.16430,0.07112,0.31268,3.360,0.38227,0.17344,0.16430,0.07112,0.31268

In [5]:
# Select columns to obtain happiness scores for each year

happiness_time_df = happy_df[['Country name', 'Regional indicator','Score Y15','Score Y16','Score Y17','Score Y18','Score Y19','Score Y20']]
happiness_time_df

,Country name,Regional indicator,Score Y15,Score Y16,Score Y17,Score Y18,Score Y19,Score Y20
0,Finland,Western Europe,7.413,7.413,7.469,7.632,7.769,7.8087
1,Denmark,Western Europe,7.526,7.526,7.522,7.555,7.600,7.6456
2,Switzerland,Western Europe,7.509,7.509,7.494,7.487,7.480,7.5599
3,Iceland,Western Europe,7.501,7.501,7.504,7.495,7.494,7.5045
4,Norway,Western Europe,7.498,7.498,7.537,7.594,7.554,7.4880
...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,NaN,NaN,2.693,3.083,3.083,3.4759
149,Rwanda,Sub-Saharan Africa,3.515,3.515,3.471,3.408,3.334,3.3123
150,Zimbabwe,Sub-Saharan Africa,4.193,4.193,3.875,3.692,3.663,3.2992
151,South Sudan,Sub-Saharan Africa,3.832,3.832,3.591,3.254,2.853,2.8166
152,Afghanistan,South Asia,3.360,3.360,3.794,3.632,3.203,2.5669

In [6]:
# Top 10 happiest countries in 2020

top10_df = happy_df.sort_values('Score Y20',ascending=False).head(10)
top10_df

,Country name,Regional indicator,Score Y20,GDP Y20,Social support Y20,Life expectancy Y20,Freedom Y20,Generosity Y20,Corruption Y20,Score Y19,...,Life Expectancy Y16,Freedom Y16,Corruption Y16,Generosity Y16,Score Y15,GDP Y15,Life Expectancy Y15,Freedom Y15,Corruption Y15,Generosity Y15
0,Finland,Western Europe,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,7.769,...,0.81091,0.57104,0.41004,0.25492,7.413,1.40598,0.81091,0.57104,0.41004,0.25492
1,Denmark,Western Europe,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,7.600,...,0.79504,0.57941,0.44453,0.36171,7.526,1.44178,0.79504,0.57941,0.44453,0.36171
2,Switzerland,Western Europe,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,7.480,...,0.86303,0.58557,0.41203,0.28083,7.509,1.52733,0.86303,0.58557,0.41203,0.28083
3,Iceland,Western Europe,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,7.494,...,0.86733,0.56624,0.14975,0.47678,7.501,1.42666,0.86733,0.56624,0.14975,0.47678
4,Norway,Western Europe,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,7.554,...,0.79579,0.59609,0.35776,0.37895,7.498,1.57744,0.79579,0.59609,0.35776,0.37895
5,Netherlands,Western Europe,7.4489,10.812712,0.939139,72.300919,0.908548,0.207612,0.364717,7.488,...,0.81231,0.55211,0.29927,0.47416,7.339,1.46468,0.81231,0.55211,0.29927,0.47416
6,Sweden,Western Europe,7.3535,10.758794,0.926311,72.600769,0.939144,0.111615,0.250880,7.343,...,0.83121,0.58218,0.40867,0.38254,7.291,1.45181,0.83121,0.58218,0.40867,0.38254
7,New Zealand,North America and ANZ,7.2996,10.500943,0.949119,73.202629,0.936217,0.191598,0.221139,7.307,...,0.83096,0.58147,0.41904,0.49401,7.334,1.36066,0.83096,0.58147,0.41904,0.49401
8,Austria,Western Europe,7.2942,10.742824,0.928046,73.002502,0.899989,0.085429,0.499955,7.246,...,0.80565,0.54355,0.21348,0.32865,7.119,1.45038,0.80565,0.54355,0.21348,0.32865
9,Luxembourg,Western Europe,7.2375,11.450681,0.906912,72.599998,0.905636,-0.004621,0.367084,7.090,...,0.84542,0.54870,0.35329,0.27571,6.871,1.69752,0.84542,0.54870,0.35329,0.27571

In [7]:
# Top 10 unhappiest countries in 2020

bottom10_df = happy_df.sort_values('Score Y20',ascending=False).tail(10)
bottom10_df

,Country name,Regional indicator,Score Y20,GDP Y20,Social support Y20,Life expectancy Y20,Freedom Y20,Generosity Y20,Corruption Y20,Score Y19,...,Life Expectancy Y16,Freedom Y16,Corruption Y16,Generosity Y16,Score Y15,GDP Y15,Life Expectancy Y15,Freedom Y15,Corruption Y15,Generosity Y15
143,India,South Asia,3.5733,8.849824,0.592201,60.215187,0.881445,0.057552,0.772043,4.015,...,0.45091,0.40285,0.08722,0.25028,4.404,0.74036,0.45091,0.40285,0.08722,0.25028
144,Malawi,Sub-Saharan Africa,3.5380,7.062226,0.544007,57.592888,0.803223,0.021433,0.731701,3.410,...,0.29364,0.41430,0.07564,0.30968,4.156,0.08709,0.29364,0.41430,0.07564,0.30968
145,Yemen,Middle East and North Africa,3.5274,7.759683,0.817981,56.727283,0.599920,-0.157735,0.800288,3.380,...,0.31048,0.22870,0.05892,0.09821,3.724,0.57939,0.31048,0.22870,0.05892,0.09821
146,Botswana,Sub-Saharan Africa,3.4789,9.711204,0.779122,58.924454,0.821328,-0.250394,0.777931,3.488,...,0.34752,0.44089,0.10769,0.12425,3.974,1.09426,0.34752,0.44089,0.10769,0.12425
147,Tanzania,Sub-Saharan Africa,3.4762,7.967665,0.688933,57.496075,0.821540,0.109669,0.619799,3.231,...,0.35700,0.31760,0.05099,0.31472,3.666,0.47155,0.35700,0.31760,0.05099,0.31472
148,Central African Republic,Sub-Saharan Africa,3.4759,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,3.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Rwanda,Sub-Saharan Africa,3.3123,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,3.334,...,0.31865,0.54320,0.50521,0.23552,3.515,0.32846,0.31865,0.54320,0.50521,0.23552
150,Zimbabwe,Sub-Saharan Africa,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,3.663,...,0.15950,0.25429,0.08582,0.18503,4.193,0.35041,0.15950,0.25429,0.08582,0.18503
151,South Sudan,Sub-Saharan Africa,2.8166,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,2.853,...,0.15781,0.19662,0.13015,0.25899,3.832,0.39394,0.15781,0.19662,0.13015,0.25899
152,Afghanistan,South Asia,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,3.203,...,0.17344,0.16430,0.07112,0.31268,3.360,0.38227,0.17344,0.16430,0.07112,0.31268

In [14]:
# Bar chart of top 10 happiest countries in 2020

fig1,ax1 = plt.subplots(figsize=(8,4))
top_country_list = top10_df['Country name']  # Add categories for x axis
x_axis = np.arange(0,len(top_country_list)) # x axis length
top_scores = top10_df['Score Y20'] # y axis values
ax1.set_title("Top 10 happiest countries, 2020")
tick_locations = [value for value in x_axis] # Add tick locations
plt.xticks(tick_locations,top_country_list,rotation=45) # Add x tick labels
plt.xlabel("Country name") # x axis labels
plt.ylabel("Happiness score") # y axis labels
plt.tight_layout() # Fit plot to space
plt.bar(x_axis,top_scores,color='forestgreen') # Generate plot

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [15]:
# Bar chart of top 10 unhappiest countries in 2020

fig1,ax1 = plt.subplots(figsize=(8,4))
bottom_country_list = bottom10_df['Country name']  # Add categories for x axis
x_axis = np.arange(0,len(bottom_country_list)) # x axis length
bottom_scores = bottom10_df['Score Y20'] # y axis values
ax1.set_title("Top 10 unhappiest countries, 2020")
tick_locations = [value for value in x_axis] # Add tick locations
plt.xticks(tick_locations,bottom_country_list,rotation=45) # Add x tick labels
plt.xlabel("Country name") # x axis labels
plt.ylabel("Happiness score") # y axis labels
plt.ylim(top=8) 
plt.tight_layout() # Fit plot to space

plt.bar(x_axis,bottom_scores,color='tab:grey') # Generate plot

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [ ]:
# Combine top/bottom 10 countries into a single plot?

# fig, (ax1, ax2)  = plt.subplots(1, 2,sharey=True, figsize=(10,5))

# ax1.bar(top_country_list,top_scores)
# ax2.bar(bottom_country_list,bottom_scores)


# bottom_country_list = bottom10_df['Country name']  # Add categories for x axis
# xaxis2 = np.arange(0,len(bottom_country_list)) # x axis length


# tick_locations = [value for value in x_axis] # Add tick locations
# plt.xticks(tick_locations,top_country_list,rotation=45) # Add x tick labels
# plt.xticks(tick_locations,bottom_country_list,rotation=45) # Add x tick labels
# plt.tight_layout() # Fit plot to space
# plt.show()

In [74]:
# Box plot showing distribution of happiness scores, 2020
# df = happiness_time_df[['Score Y15','Score Y16','Score Y17','Score Y18','Score Y19','Score Y20']]
# df['Score Y20']
  
fig1, ax1 = plt.subplots()
ax1.set_title("Distribution of happiness scores")
ax1.set_ylabel("Happiness score")
# ax1.set_xlabel("Year")
green_diamond = dict(markerfacecolor='g', marker='D') # Change outlier marker
ax1.boxplot(df['Score Y20'], flierprops=green_diamond) # Plot with new outlier marker
plt.show()
plt.xticks([1],["2020"])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

([<matplotlib.axis.XTick at 0x7fd5ac4e31d0>],
 <a list of 1 Text xticklabel objects>)

## Happiness and time

* Are we getting happier on a global scale? Looking at global happiness from 2015 to 2020.

In [16]:
# Plot happiness over time for top 10 countries

In [17]:
# Plot happiness over time for bottom 10 countries

In [18]:
# Derive a global happiness score (mean) and global happiness score (median), based on averages of total.
# Which makes more sense, median or mean?
global_happiness_median = happiness_time_df.iloc[:,2:8].median().round(2)
global_happiness_median

Score Y15    5.30
Score Y16    5.30
Score Y17    5.29
Score Y18    5.36
Score Y19    5.37
Score Y20    5.51
dtype: float64

In [19]:
global_happiness_mean = happiness_time_df.iloc[:,2:8].mean().round(2)
global_happiness_mean

Score Y15    5.38
Score Y16    5.38
Score Y17    5.38
Score Y18    5.39
Score Y19    5.41
Score Y20    5.47
dtype: float64

In [20]:
global_happiness_df = pd.DataFrame({'Median global happiness':global_happiness_median})                                    
global_happiness_df

           Median global happiness
Score Y15                     5.30
Score Y16                     5.30
Score Y17                     5.29
Score Y18                     5.36
Score Y19                     5.37
Score Y20                     5.51

In [37]:
# Plot median global happiness from 2015 to 2020
fig1, ax1 = plt.subplots()
ax1.set_title("Global happiness")
ax1.set_ylabel("Median global happiness score")
ax1.set_xlabel("Year")
positions = (0,1,2,3,4,5)
labels = ("2015", "2016", "2017","2018","2019","2020")
plt.xticks(positions,labels)
plt.ylim(bottom=5,top=6) 
plt.plot(global_happiness_df, marker='o',color='tab:purple')
plt.show()

# How to annotate?
# plt.annotate ('Some event', xy=(2017, 5.30), xytext=(2017, 5.35),arrowprops=dict(facecolor='black', shrink=0.05))

# Add other factors to the plot also

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [36]:
plt.close('all')