In [1]:
#This Jupyter Notebook is a result of our collaboration
import pandas as pd
import os

In [2]:
folder = 'Resources'

df_20 = pd.read_csv(os.path.join(folder,'2020.csv'))
df_19 = pd.read_csv(os.path.join(folder,'2019.csv'))
df_18 = pd.read_csv(os.path.join(folder,'2018.csv'))
df_17 = pd.read_csv(os.path.join(folder,'2017.csv'))
df_16 = pd.read_csv(os.path.join(folder,'2016.csv'))
df_15 = pd.read_csv(os.path.join(folder,'2015.csv'))

In [3]:
happy_df = df_20[['Country name', 'Regional indicator', 'Ladder score']]
happy_df = happy_df.rename(columns={'Ladder score':'Score 2020'})

happy_df = happy_df.merge(df_19[['Country or region', 'Score']], how='left', left_on='Country name', right_on='Country or region')
happy_df = happy_df.drop(columns='Country or region')
happy_df = happy_df.rename(columns={'Score':'Score 2019'})

happy_df = happy_df.merge(df_18[['Country or region', 'Score']], how='left', left_on='Country name', right_on='Country or region')
happy_df = happy_df.drop(columns='Country or region')
happy_df = happy_df.rename(columns={'Score':'Score 2018'})

happy_df = happy_df.merge(df_17[['Country', 'Happiness.Score']], how='left', left_on='Country name', right_on='Country')
happy_df = happy_df.drop(columns='Country')
happy_df = happy_df.rename(columns={'Happiness.Score':'Score 2017'})

happy_df = happy_df.merge(df_16[['Country', 'Happiness Score']], how='left', left_on='Country name', right_on='Country')
happy_df = happy_df.drop(columns='Country')
happy_df = happy_df.rename(columns={'Happiness Score':'Score 2016'})

happy_df = happy_df.merge(df_16[['Country', 'Happiness Score']], how='left', left_on='Country name', right_on='Country')
happy_df = happy_df.drop(columns='Country')
happy_df = happy_df.rename(columns={'Happiness Score':'Score 2015'})

happy_df

,Country name,Regional indicator,Score 2020,Score 2019,Score 2018,Score 2017,Score 2016,Score 2015
0,Finland,Western Europe,7.8087,7.769,7.632,7.469,7.413,7.413
1,Denmark,Western Europe,7.6456,7.600,7.555,7.522,7.526,7.526
2,Switzerland,Western Europe,7.5599,7.480,7.487,7.494,7.509,7.509
3,Iceland,Western Europe,7.5045,7.494,7.495,7.504,7.501,7.501
4,Norway,Western Europe,7.4880,7.554,7.594,7.537,7.498,7.498
...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,3.083,3.083,2.693,NaN,NaN
149,Rwanda,Sub-Saharan Africa,3.3123,3.334,3.408,3.471,3.515,3.515
150,Zimbabwe,Sub-Saharan Africa,3.2992,3.663,3.692,3.875,4.193,4.193
151,South Sudan,Sub-Saharan Africa,2.8166,2.853,3.254,3.591,3.832,3.832
152,Afghanistan,South Asia,2.5669,3.203,3.632,3.794,3.360,3.360